<!doctype html>
<html lang="en">

{% load static %}
{% load bootstrap4 %}

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block description %}{% endblock description %}">
    <title>{% block title %}{% endblock title %}</title>

    <!-- Bootstrap core CSS -->
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% bootstrap_messages %}

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">
  </head>
  <body>
    {% include 'navbar.html' %}

<main role="main">

  {% block content %}{% endblock content %}

</main>

<footer class="container">
  {% include 'footer.html' %}
</footer>
