version: "3"

services:    
    {{ app_name }}:
      image: {{ app_image }}
      container_name: {{ app_name }}
      command: poetry run gunicorn {{ app_name }}.wsgi:application --bind 0.0.0.0:5000 -w 1 
      environment:
        - DJANGO_SETTINGS_MODULE={{ app_name }}.settings
        - HOST={{ host }}
      restart: always
      networks:
        intranet:
          aliases:
            - {{ app_name }}

    nginx:
      image: nginx:latest
      container_name: nginx
      restart: always
      volumes:
        - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      ports:
        - 80:80
      networks:
        - intranet
      depends_on:
        - {{ app_name }}

networks: 
  intranet: